<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlEgKiPdIfkyXxVNlrGU99pfDB3UhgQ2A</string>
	<key>GCM_SENDER_ID</key>
	<string>996519131537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dalelApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dalelapp-698a0</string>
	<key>STORAGE_BUCKET</key>
	<string>dalelapp-698a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996519131537:ios:dcd387c694753e55dc0230</string>
</dict>
</plist>